{% extends "base.html" %}

{% block title %}Poslana sporocila{% endblock title %}

{% block vsebina %}

    <h2>Poslana sporocila:</h2>
    <br/>
        {% for sporocilo in seznam_sporocil %}

            <div class="col-md-8 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><strong>Prejemnik sporocila:</strong> {{ sporocilo.ime_prejemnika }} &nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Naslov:</strong> {{ sporocilo.naslov_sporocila }} &nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>Datum sporocila:</strong> {{ sporocilo.datum.day }}.{{ sporocilo.datum.month }}.{{ sporocilo.datum.year }}.
                        <strong>ob:</strong> {{ sporocilo.datum.hour }}:{{ sporocilo.datum.minute }}h</h2>
                </div>
                <div class="panel-body">
                    <em>{{ sporocilo.vsebina_sporocila }}</em>
                </div>
            </div>
            </div>

        {% endfor %}

{% endblock vsebina %}