{% extends "base.html" %}

{% block title %}Prejeta sporocila{% endblock title %}

{% block vsebina %}

        <h2>Prejeta sporocila:</h2>
        <br/>
        {% for sporocilo in seznam_sporocil %}

            <div class="col-md-8 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><strong>Od:</strong> {{ sporocilo.id_posiljatelja }}, <strong>naslov:</strong> {{ sporocilo.naslov_sporocila }}, <strong>datum sporocila:</strong> {{ sporocilo.datum }}</h2>
                </div>
                <div class="panel-body">
                {{ sporocilo.vsebina_sporocila }}
                </div>
            </div>
            </div>

            <!--<p>{{ sporocilo.id_posiljatelja }}, {{ sporocilo.id_prejemnika }}, {{ sporocilo.naslov_sporocila }}, {{ sporocilo.vsebina_sporocila }}, {{ sporocilo.key.id() }}, {{ sporocilo.datum }}</p>-->

        {% endfor %}

{% endblock vsebina %}