{% extends "base.html" %}

{% block title %}Registracija{% endblock title %}

{% block vsebina %}
    <a href="/" class="btn btn-default">Nazaj na Boogle</a><br/>

    <h2>Registracija novega uporabnika</h2>

    <form action="/registracija" method="post">
        <div class="input-group">
            <span class="input-group-addon">Ime:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="ime">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Priimek:</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" name="priimek">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">E-mail:</span>
            <input type="email" class="form-control" aria-describedby="basic-addon1" name="email">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Geslo:</span>
            <input type="password" class="form-control" aria-describedby="basic-addon1" name="geslo">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">Ponovno geslo:</span>
            <input type="password" class="form-control" aria-describedby="basic-addon1" name="ponovno_geslo">
        </div>
        <br/>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registriraj se</button>
    </form>
{% endblock vsebina %}